@font-face {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/yeseva-one-v15-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/yeseva-one-v15-latin_cyrillic-regular.woff") format("woff");
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 920px;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

h3 {
  font-size: 4rem;
  color: #fff2f2;
}

h4 {
  color: #3b1010;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 126.5%;
}

a {
  font-size: 1.8rem;
  color: #fff2f2;
  text-decoration: none;
}

li {
  list-style: none;
  font-weight: 300;
}

p {
  font-weight: 300;
}
/* Header */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  color: #fff2f2;
  font-family: Yeseva One;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 8%;
  margin: 3rem 0 2.7rem 4rem;
}

.list {
  margin-left: 9rem;
}

.list__item {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.list :last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 769px) {
  .logo {
    font-size: 2.4rem;
  }
}

/* Main Section*/
.main {
  background: url("../images/main-bg@2x.jpg") center/cover no-repeat;
  min-height: 100vh;
}

.main__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: #fff;
  font-family: Yeseva One;
  font-size: 3.6rem;
  letter-spacing: 0.3vw;
}

.title--accent {
  background: #fff;
  color: #0f0f0f;
  font-size: 4.3rem;
  line-height: 1.3;
  text-align: center;
  position: relative;
  left: 15%;
}

@media screen and (min-width: 769px) {
  .title {
    font-size: 4.8rem;
  }

  .title--accent {
    font-size: 5.2rem;
  }
}

/* Promo Section */
.section {
  padding: 2.5rem 0;
}

.promo {
  background: linear-gradient(180deg, #3b1010 0%, #8d381f 100%);
  color: #fff2f2;
  font-size: 1.6rem;
}

.heading {
  font-family: Yeseva One;
  font-weight: normal;
}

.heading--primary {
  color: #fff2f2;
}

.promo__heading {
  font-size: 3.2rem;
}

.promo__text {
  margin-top: 3.5rem;
  line-height: 1.5;
}

.promo__list {
  margin: 3.5rem 0 0 4rem;
}

.promo__list li {
  line-height: 1.5;
}

@media screen and (min-width: 769px) {
  .promo {
    background: #3c1010;
    display: flex;
  }

  .bg-img {
    height: 100vh;
    width: 100%;
    background: url("../images/girl-dance.jpg") center/cover no-repeat;
  }

  .promo__heading {
    font-size: 3.6rem;
  }

  .promo__container {
    padding: 2.5rem 3vw;
  }

  .promo__text {
    margin-top: 2vw;
  }
}

@media screen and (min-width: 1440px) {
  .promo__text {
    margin-top: 2rem;
  }
}
