<section class="section advantages">
  <div class="container advantages__container">
    <h2 class="heading heading--section heading--primary">Что ты получишь?</h2>
    <div class="card card--top">
      <h4 class="card__title">Тренировки</h4>
      <img src="./images/dumbell.svg" alt="dumbell" class="card__icon" />
      <p class="card__descr">
        Которые занимают от 15-30 минут в день и делаете в удобное для вас время
      </p>
    </div>
    <div class="card card--center">
      <h4 class="card__title">Тренировки</h4>
      <img src="./images/hands.svg" alt="dumbell" class="card__icon" />
      <p class="card__descr">
        Наша подджержка и мотивация 24/7. В составе комьюнити единомышленниц
        цели достигаются проще,
      </p>
    </div>
    <div class="card card--bottom">
      <h4 class="card__title">Тренировки</h4>
      <img src="./images/healthyFood.svg" alt="dumbell" class="card__icon" />
      <p class="card__descr">
        Разнообразное меню, ОЧЕНЬ вкусное и ПОЛЕЗНОЕ. Вам больше не нужно
        постоянно считать калории
      </p>
    </div>
  </div>
</section>
