<section class="main">
  <div class="container">
    <header class="header">
      <div class="logo">MARAFONCHUK</div>
      <nav class="nav">
        <ul class="list">
          <li class="list__item"><a href="#">Главная</a></li>
          <li class="list__item"><a href="#">Инфо</a></li>
          <li class="list__item"><a href="#">Цены</a></li>
          <li class="list__item"><a href="#">Контакты</a></li>
        </ul>
      </nav>
    </header>
  </div>
    <div class="main__header container main__container">
      <span class="title">SLIMNESS</span>
      <span class="title title--accent">MARATHON</span>
    </div>
  
</section>
