<div class="price__card">
    <header class="price__header">
      <h3 class="title--underlined price__title">Standart</h3>
      <p class="price__subtitle">300 <span>uah</span> /850 <span>rub</span></p>
    </header>
     <div class="line"></div>
     <div class="line line--long"></div>
     <ul class="price__list">
         <li class="price__list-item">длительность 28 дней</li>
         <li class="price__list-item"> новое меню, каждую пятницу</li>
         <li class="price__list-item">поддержка от группы</li>
         <li class="price__list-item">поддержка диетолога-нутрициолог 24/7</li>
     </ul>
 </div>