<section class="section price">
  <div class="container">
    <h2 class="heading heading--primary heading--section price__heading">
      Наши цены
    </h2>
  </div>
  <div class="container price__container">
    <div class="price__card price__card--standart">
      <header class="price__header">
        <h3 class="title--underlined price__title">Standart</h3>
        <p class="price__subtitle">
          300 <span>uah</span> /850 <span>rub</span>
        </p>
      </header>
      <div class="line"></div>
      <div class="line line--long"></div>
      <ul class="price__list">
        <li class="price__list-item">длительность 28 дней</li>
        <li class="price__list-item">новое меню, каждую пятницу</li>
        <li class="price__list-item">поддержка от группы</li>
        <li class="price__list-item">поддержка диетолога-нутрициолог 24/7</li>
      </ul>
      <button class="btn price__btn">Купить</button>
    </div>
    <div class="price__card price__card--premium">
      <header class="price__header">
        <h3 class="title--underlined price__title">premium</h3>
        <p class="price__subtitle">
          400 <span>uah</span> /1000 <span>rub</span>
        </p>
      </header>
      <div class="line"></div>
      <div class="line line--long"></div>
      <ul class="price__list">
        <li class="price__list-item">Standart пакет</li>
        <li class="price__list-item">тренировки от фитнеса тренера</li>
        <li class="price__list-item">поддержка фитнес-тренера 24/7</li>
        <li class="price__list-item">
          одна консультация от фитнеса-тренера для всех в Zoom
        </li>
        <li class="price__list-item">возможность побороться за ПРИЗЫ</li>
      </ul>
      <button class="btn price__btn">Купить</button>
    </div>
  </div>
</section>
