<section class="promo">
  <div class="bg-img"></div>
  <div class="container promo__container">
    <h2 class="heading heading--primary promo__heading">
      Мы поможем привести себя в форму без пилюль и голодания
    </h2>
    <p class="promo__text">
      Большинство людей рассчитывают сжечь весь свой жир за несколько недель.
    </p>
    <p class="promo__text">
      Проблема в том, что вы подходите к этому неправильно и сосредотачиваетесь
      на неправильных вещах:
    </p>
    <ul class="promo__list">
      <li>соковые диеты;</li>
      <li>модные диеты;</li>
      <li>диеты исключения;</li>
      <li>быстрые решения;</li>
      <li>стремительная потеря веса;</li>
      <li>все больше кардионагрузок и меньше калорий и т. д.</li>
    </ul>
  </div>
</section>
