<section class="section team">
  <div class="container">
    <h2 class="heading heading--primary heading--section">Наша команда</h2>
    <h3 class="title--underlined">Диетолог-нутрициолог</h3>
    <div class="card team__card">
      <picture>
        <source
          type="image/jpg"
          srcset="images/alyona.jpg 1x, images/alyona@2x.jpg 2x"
        />
        <img src="./images/alyona.jpg" alt="team member" class="card__icon" />
      </picture>
      <p class="card__descr card__descr--team">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed esse
        accusantium totam et! Expedita, aperiam! Nisi illum nostrum nemo
        consequuntur.
      </p>
    </div>
    <h3 class="title--underlined">Фитнес-тренер</h3>
    <div class="card team__card">
      <picture>
        <source
          type="image/jpg"
          srcset="images/vita.jpg 1x, images/vita@2x.jpg 2x"
        />
        <img src="./images/vita.jpg" alt="team member" class="card__icon" />
      </picture>
      <p class="card__descr card__descr--team">
        Привет) меня зовут Вита, мне 21 год. Из них 4 года отдала тренерству и 6
        занималась для себя. В детстве занималась бальными танцами. Заканчивала
        школу тренеров Dog, по направлению кроссфит и тренажёрный зал, также
        являюсь сертифицированным тренером по батутам (sky jumping), имеются
        сертификаты по танцам и тренера-универсала. На данный момент
        трудоустроена в сети фитнес клубов Киева - Спортленд тренером групповых
        занятий
      </p>
    </div>
  </div>
</section>
